<%= form_for(@poem) do |f| %>
  <% if @poem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poem.errors.count, "error") %> prohibited this poem from being saved:</h2>

      <ul>
      <% @poem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :id => "title_field", :size => 45, :placeholder => "Title please."  %>
  </div>

  <div class="field">
    <%= f.text_area :content, :id => "content_field", :cols => 50, :rows => 18, :placeholder => "Go on, let those words flow. Your emotions belong here."  %>
  </div>

  <div class="field">
    <%= f.text_field :author, :id => "title_field", :size => 45, :placeholder => "Who wrote this poem?" %>
  </div>

  <div class="field"; id="dropdown">
    <%= f.select :category, [ '6-word', 'Haiku', 'Free Verse'], :prompt => 'Select Poem Type' %>
  </div>

  <div class="actions">
    <%= f.submit :id => "buttons" %>
  </div>
<% end %>
