<p id="notice"><%= notice %></p>

<div id="poem_title">
  <strong>Title:</strong>
  <%= @poem.title %>
</div>

<div id="poem_content">
  <%= @poem.content %>
</div>

<div id="author">
  - <%= @poem.author %>
</div>

<div id="date">
  posted on <%= poem.created_at.strftime('%B %e, %Y %I:%M %p') %>
</div>

<div id="links">
<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
</div>