<center>
<div id="notice">
  <%= notice %>
</div>

<div style="width=50%">

<div id="the_feels">
  <h1>the feels</h1>
</div>

<div id="menu">
  <%= link_to 'Haiku', poems_haiku_path %> |
  <%= link_to 'Free Verse', poems_freeverse_path %>
</div>

<% @categories.each do |sixword| %>
  <div id="poem_title">
    <%= poem.title %>
  </div>

  <div id="poem_content">
    <%= poem.content %>
  </div>

  <div id="date">
    posted on <%= poem.created_at.strftime('%B %e, %Y %I:%M %p') %>
  </div>

  <div id="links">
    <%= link_to 'Edit', edit_poem_path(poem) %> |
    <%= link_to 'Delete', poem, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div id="new_button">
  <%= link_to 'New Poem', new_poem_path %>
</div>

</div>
</center>