<center>
<div id="notice">
  <%= notice %>
</div>

<div style="width=50%">

<div id="the_feels">
  <h1>the feels</h1>
</div>

<div id="menu">
  <%= link_to 'Haiku', haiku_poems_path %> |
  <%= link_to 'Free Verse', freeverse_poems_path %>
</div>


<div id="poem_title">
  <%= @poem.title %>
</div>

<div id="poem_content">
  <%= @poem.content %>
</div>

<div id="author">
  - <%= @poem.author %>
</div>

<div id="date">
  posted on <%= @poem.created_at.strftime('%B %e, %Y %I:%M %p') %>
</div>

<div id="links">
<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
</div>
</center>